.logo {
  font-size: 30px;
  color: white;
  display: none;;
}

/* BIG SCREEN */
/* (A) WRAPPER */

#hamnav {
  width: 100%;
  background: #94B3FD;
}

/* (B) HORIZONTAL MENU ITEMS */
.hamitems {
  display: flex;
  justify-content: space-around;
}

.hamitems a {
  /* flex-grow: 1;
  flex-basis:0; */
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.hamitems a:hover {
  background: #1C6DD0;
}

/* (C)HIDE HAMBURGER MENU */

#hamnav label, #hamburger {
  display: none;
}

/* SMALL SCREENS */
@media (max-width:768px) {
  /* (A) BREAK INTO VERTICAL MENU */
  .hamitems a {
    box-sizing: border-box;
    display: block;
    /* background: purple; */
    width: 100%;
    border: none;
  }

  /* .hamitems {
    flex-direction: column;
  } */

  /* (B)  */
  #hamnav label {
    display: inline-block;
    color: white;
    font-style:normal;
    font-size: 1.2rem;
    padding: 10px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  .hamitems {
    display: none;
  }

  #hamnav input:checked ~ .hamitems {
    display: block;
  }

  .logo {
    display: inline-block;
    padding-left: 10px;
  }
}