h1 {
    color:red;
}

button {
    border-radius: 5px;
    background-color: rgb(10, 109, 10, 0.6);
    color:white;
    border: solid 2px white;
    padding: 5px 15px;
    margin: 0 auto;
}

button:hover {
    background-color: blue;
    cursor:pointer;
}

.anim {
    background-color: purple;
    width: 200px;
    height: 200px;
    animation-name: animate1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: relative;
}

@keyframes animate1 {
    from {
        width: 200px;
        height: 200px;
        top: 0;
    }
    to {
        width: 600px;
        height: 600px;
        background-color: red;
        top:400px

    }
}