/* Tree menu */
/* (A) LIST TO MENU */
.tree, .section ul {
    list-style: none;
    padding: 0;
    margin: 0;
} 

.tree {
    background: green;
    border: solid 2px greenyellow;
}

.tree li {
    border-bottom: hotpink solid 2px;
}

.tree li:last-child {
    border: 0;
}

/* (B) SUB-SECTIONS  */
/* (B1) TOGGLE SHOW/HIDE */

.section ul {
    display: none;
}

.section input:checked ~ ul {
    display: block;
}


/* (B1) HIDE CHECKBOX */
.section input[type=checkbox] {
    display: none;
}

/* (B3) ADD EXPAND/COLLAPSE ICON */
.section {
    position: relative;
    padding-left: 35px;;
}

.section label:after {
    content: '\0002B';
    position: absolute;
    top: 0;
    left: 0;
    /* padding: 10px; */
    text-align: center;
    font-size: 30px;
    color: #f00;
    transition: all 0.5s;
}

.section input:checked ~ label:after {
    transform: rotate(45deg);
    color: blue;
}

/* (B4) SUB-SECTION ITEMS */

.section ul {
    margin-top: 10px;
}

.section ul li {
    color: white;
}

@media screen and (min-width:780px) {
    .tree {
        display: flex;
        justify-content: space-around;
    }
}

/* Global Elements */

h1 {
    color:red;
}

button {
    border-radius: 5px;
    background-color: rgb(10, 109, 10, 0.6);
    color:white;
    border: solid 2px white;
    padding: 5px 15px;
    margin: 0 auto;
}

button:hover {
    background-color: blue;
    cursor:pointer;
}

/* .anim {
    background-color: purple;
    width: 200px;
    height: 200px;
    animation-name: animate1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: relative;
}

@keyframes animate1 {
    from {
        width: 200px;
        height: 200px;
        top: 0;
    }
    to {
        width: 600px;
        height: 600px;
        background-color: red;
        top:400px

    }
} */
/* 
.anim2 {
    background-color: seagreen;
    width: 200px;
    height: 150px;
    position: relative;
    animation: animate2 2s forwards ease-in-out;
    top:0;
    left:0;
}

@keyframes animate2 {
    to {
     background-color: steelblue;
    }

} */

.transit {
    background: tomato;
    width: 200px;
    height: 200px;
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}

.transit:hover {
    background: white;
    border-radius: 50%;
}
.transfo {
    background: yellow;
    width: 200px;
    height: 200px;
    transition: all 1s ease-in-out;
}

.transfo:hover {
    /* transform:rotate(20deg; */
    /* transform: translateX(300px); */
    transform: translateX(75%);
}