h1 {
    color:red;
}

button {
    border-radius: 5px;
    background-color: rgb(10, 109, 10, 0.6);
    color:white;
    border: solid 2px white;
    padding: 5px 15px;
    margin: 0 auto;
}

button:hover {
    background-color: blue;
    cursor:pointer;
}